<!DOCTYPE html> <!-- angelehnt an https://lerneprogrammieren.de/bootstrap/#:~:text=Bootstrap%20einbinden%20oder%20downloaden,online%20%C3%BCber%20einen%20CDN%20einbinden 
WAE-->
<html>
<head>
    <title th:text="#{userDetail.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/styles/dummy.css}" />
	<link rel="shortcut icon" href="#" />
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/scripts/Language.js}"></script>
	<script th:src="@{/scripts/AdminUserDetail.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md">
   <a class="navbar-brand" th:href="@{/admin}" th:text="#{login.firma}"></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
	<ul class="navbar-nav">
	  	  <li class="nav-item">
		<a class="nav-link" href="/adminUserManagement" th:text="#{menu.profil}"></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/adminHelp" th:text="#{menu.help}"></a>
	  </li>	  
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" onclick="setLanguage('eng')" th:text="#{menu.english}"></a>
          <a class="dropdown-item" href="#" onclick="setLanguage('de')" th:text="#{menu.german}"></a>
        </div>
      </li>
	  <li class="nav-item">
		<a class="nav-link" href="/logout" th:text="#{menu.logout}"></a>
	  </li>
	</ul>
  </div>
</nav>
<!--LUM-->
<div class="userDetail">
	<h1 th:text="#{userDetail.title}"/>
<form th:action="@{/adminUsers}"  onsubmit="save();" method="PUT">
	
<ul class="register">
	<li class="fname">
		<input type="hidden" id="userId" name="userId">
	<label th:text="#{register.fname}"></label>
	<input type="text" id="fname" name="fname" th:attr="placeholder=#{register.fname}" required>
	</li >
	<li class="lname">
	<label th:text="#{register.lname}"></label>
	<input type="text" id="lname" name="lname" th:attr="placeholder=#{register.lname}" required>
	</li >
</ul>
<ul class="register">
	<li class="address">
	<label th:text="#{register.address}"></label>
	<input type="text" id="address" name="address" th:attr="placeholder=#{register.address}" required><wbr>
	</li >
	<li class="zip">
	<label th:text="#{register.zip}"></label>
	<input id="zip" name="zip" th:attr="placeholder=#{register.zip}" type="number" max="9999" min="1000" required>
	</li >
	<li class="city">
	<label th:text="#{register.city}"></label>
	<input type="text" id="city" name="city" th:attr="placeholder=#{register.city}" maxlength="58" required>
	</li >
	<li class="country">
	<label th:text="#{register.country}"></label>
	<input type="text" id="country" name="country" value="CH" required readonly>
	</li >
</ul  >
<ul class="register">
	<li class="email">
	<label th:text="#{register.email}"></label>
	<input type="text" id="mail" name="mail" th:attr="placeholder=#{register.email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required> <!-- Quelle: https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute -->
	</li >
	<li class="username">
	<label th:text="#{register.username}"></label>
	<input type="text" id="username" name="username" th:attr="placeholder=#{login.enterUsername}" minlength="8" required><br>
	</li >
		<label th:text="#{register.role}"></label>
		<select name="role" id="role">
  			<option value="ADMIN" th:text="ADMIN"></option>
  			<option value="USER" th:text="USER"></option>
		</select>
		</li>
		<br>
	<button class="button" style=margin:5% type="submit" th:text="#{userDetail.save}"></button>

</form>
<form th:action="@{/adminUserManagement}" onsubmit="changePw();" method="PUT">
<li class="password">
	<input type="text" id="password" name="password" th:attr="placeholder=#{login.enterPassword}" minlength="8" required>
	<button class="button" style=margin:5% type="submit" th:text="#{userDetail.changePassword}"></button>
</li>
</form >
</ul >
</div>
</body>
</html>