<!DOCTYPE html> <!-- angelehnt an https://lerneprogrammieren.de/bootstrap/#:~:text=Bootstrap%20einbinden%20oder%20downloaden,online%20%C3%BCber%20einen%20CDN%20einbinden 
WAE-->
<html>
<head>
    <title th:text="#{cart.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/styles/dummy.css}" />
	<link rel="shortcut icon" href="#" />
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/scripts/Language.js}"></script>
	<script th:src="@{/scripts/Cart.js}"></script>
</head>
<body>
<div>
<nav class="navbar navbar-expand-md">
   <a class="navbar-brand" th:href="@{/home}" th:text="#{login.firma}"></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
	<ul class="navbar-nav">
		<li class="nav-item">
		<a class="navbar-brand" href="cart">
			    <i class="bi bi-cart"></i>
			 </a>
	  	</li>
	  	  <li class="nav-item">
		<a class="nav-link" href="/userManagement" th:text="#{menu.profil}"></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/help" th:text="#{menu.help}"></a>
	  </li>	  
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" onclick="setLanguage('eng')" th:text="#{menu.english}"></a>
          <a class="dropdown-item" href="#" onclick="setLanguage('de')" th:text="#{menu.german}"></a>
        </div>
      </li>
	  <li class="nav-item">
		<a class="nav-link" href="/logout" th:text="#{menu.logout}"></a>
	  </li>
	</ul>
  </div>
</nav>
<!-- LUM -->
<div id="cartBody">
	<div class="cart">
		<h1 th:text="#{cart.title}"></h1 > <br>
		<input type="hidden" id="cartId" name="cartId">
		<table class="table" style="width:50%" id="cartTable">
		  <tr>
		  	<th th:text="#{cart.product}"></th >
		    <th th:text="#{cart.quantity}"></th >
		    <th th:text="#{cart.discount}"></th >
		    <th th:text="#{cart.price}"></th >
		  </tr>
		</table>
	</div>
	<input type="hidden" id="amountProduct1" name="amountProduct1" value="0">
	<input type="hidden" id="amountProduct2" name="amountProduct2" value="0">
	<input type="hidden" id="amountProduct3" name="amountProduct3" value="0">
	<input type="hidden" id="amountProduct4" name="amountProduct4" value="0">
	<input type="hidden" id="deliveryAvailable" name="deliveryAvailable">
	<input type="hidden" id="deliveryExpressAvailable" name="deliveryExpressAvailable">
	<input type="hidden" id="totalProductCost" name="totalProductCost">
	<h2 th:text="#{cart.shipping}"></h2> <br>

	<div class="cartDropdown">
		<select class="dropdown" id="shipping" name="shipping" onchange="setShippingCost()">
		    <option value="express" th:text="#{cart.express}"></option>
		    <option value="standard" th:text="#{cart.standard}"></option>
			<option value="package" th:text="#{cart.package}"></option>
		</select>
		<input type="hidden" id="shippingId" name="shippingId" value="0">
		<label th:text="#{cart.shippingCost}"/>   
		<label id="shippingCost"></label></br>
		<input type="hidden" id="expressCost" name="expressCost">
		<input type="hidden" id="standardCost" name="standardCost">
		<input type="hidden" id="packageCost" name="packageCost">
	</div>
	<div class="totalCost">
		<h2 th:text="#{cart.totalCost}"/>   
		<label id="totalCost"></label>
	</div ></br>
	<button type="button" class="button" id="saveOrder" onclick="saveOrder()" th:text="#{cart.saveOrder}"></button>
	<div id="cartNoValue">
		<h1 th:text="#{cart.title}"></h1 ><br>
		<h2 id="cartNoElementsTitle"></h2 >
	</div >
</div>
</body>
</html>