<!DOCTYPE html>
<!-- WAE-->
<html>
<head>
    <title>Logout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/dummy.css">
    <link rel="shortcut icon" href="#" />
    <script th:src="@{/scripts/Language.js}"></script>
    <script th:src="@{/scripts/Logout.js}"></script>
	<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class=logout>
<h1>Goodbye!<br>We hope to see you again!</h1>


</div>
</body>
</html>