<!DOCTYPE html> <!-- angelehnt an https://lerneprogrammieren.de/bootstrap/#:~:text=Bootstrap%20einbinden%20oder%20downloaden,online%20%C3%BCber%20einen%20CDN%20einbinden 
WAE-->
<html>
<head>
    <title th:text="#{productChoice.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/styles/dummy.css}" />
	<link rel="shortcut icon" href="#" />
	<script th:src="@{/scripts/Language.js}"></script>
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md">
   <a class="navbar-brand" th:href="@{/home}" th:text="#{login.firma}"></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
	<ul class="navbar-nav">
	  	  <li class="nav-item">
		<a class="nav-link" href="/userManagement" th:text="#{menu.profil}"></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/help" th:text="#{menu.help}"></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#" th:text="#{menu.language}"></a>
		<a onclick="setLanguage('en')" th:text="#{menu.english}"></a>
		<a onclick="setLanguage('de')" th:text="#{menu.german}"></a>
	  </li>
	  	  <li class="nav-item">
		<a class="nav-link" href="/logout" th:text="#{menu.logout}"></a>
	  </li>
	</ul>
  </div>
</nav>

<!--SCL-->
<div class="productChoice">
 

  <select class="dropdown" id="products" name="products" onchange="getSpecificProduct()">	</select>
  
  <input type="submit" value="Add to cart" onclick"addToCart">


<!--Shows Productname you have choosed-->
<h1 id="productname"></h1>

<p id="description"> </p>

<p id="discount"> </p>
	
<img id="productImg" class="image" th:src="@{productImg}"/>

<button type="button" onclick="window.location.href='/cart'">Cart</button>
</div>

</div>
</body>
</html>