<!DOCTYPE html> <!-- angelehnt an https://lerneprogrammieren.de/bootstrap/#:~:text=Bootstrap%20einbinden%20oder%20downloaden,online%20%C3%BCber%20einen%20CDN%20einbinden -->
<html>
<head>
    <title>Product Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/dummy.css">
    <script language="javascript" type="text/javascript" src="scripts/ProductChoice.js"></script>
    
</head>
<body>
<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/home">LEMS Shipping</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
	<ul class="navbar-nav">
	<li class="nav-item">
		<a class="nav-link" href="/home">Home</a>
	  </li>
	  	  <li class="nav-item">
		<a class="nav-link" href="/userManagement">Profil</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/help">Help</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Language</a>
	  </li>
	  	  <li class="nav-item">
		<a class="nav-link" href="/logout">Logout</a>
	  </li>
	</ul>
  </div>
</nav>

<!--SCL-->
<div class="productChoice">
 
  <form name="product_selection" action="getProduct()">
  <select class="dropdown" id="products" name="products" onchange="getProduct()">
  	<option value="Selection">Select Product</option>
    <option value="Product 1">Product 1</option>
    <option value="Product 2">Product 2</option>
    <option value="Product 3">Product 3</option>
    <option value="Product 4">Product 4</option>
  </select>
 
  <input type="submit" value="Add to cart">
</form>

<!--has to get chnaged with checkbox-->
<h1 id="productname"> pName </h1>


<p> Description Product</p>
	
<img class="image" src="scripts/Images/Firewall.webp" alt="Firewall">
<img class="image" src="scripts/Images/Server.webp" alt="Server">
<img class="image" src="scripts/Images/Servergestell (Rack).avif" alt="Servergestell">
<img class="image" src="scripts/Images/swich.jpg" alt="swich">


<!--- 
<script>
        var e = document.getElementById("products");
		var strUser = e.value;
    
     </script>
-->

<button type="button" onclick="window.location.href='/cart'">Cart</button>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>