<!DOCTYPE html> <!-- angelehnt an https://lerneprogrammieren.de/bootstrap/#:~:text=Bootstrap%20einbinden%20oder%20downloaden,online%20%C3%BCber%20einen%20CDN%20einbinden 
WAE-->
<html>
<head>
    <title th:text="#{productChoice.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/styles/lems.css}" />
	<link rel="shortcut icon" href="#" />
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/scripts/Language.js}"></script>
	<script th:src="@{/scripts/ProductChoice.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md">
   <a class="navbar-brand" th:href="@{/home}" th:text="#{login.firma}"></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
	<ul class="navbar-nav">
		<li class="nav-item">
		<a class="navbar-brand" href="cart">
			    <i class="bi bi-cart"></i>
			 </a>
	  	</li>
	  	  <li class="nav-item">
		<a class="nav-link" href="/userManagement" th:text="#{menu.profil}"></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/help" th:text="#{menu.help}"></a>
	  </li>	  
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" onclick="setLanguage('eng')" th:text="#{menu.english}"></a>
          <a class="dropdown-item" href="#" onclick="setLanguage('de')" th:text="#{menu.german}"></a>
        </div>
      </li>
	  <li class="nav-item">
		<a class="nav-link" href="/logout" th:text="#{menu.logout}"></a>
	  </li>
	</ul>
  </div>
</nav>


<!--SCL-->
<div class="productChoice">
<h1 th:text="#{productChoice.title}"></h1> 
 </div> <br />
 <div class="productChoiceX">
<input type="hidden" id="productId" name="productId">
  <select class="dropdown" id="products" name="products" onchange="getSpecificProduct()">	</select>
  	<label for="quantities" th:text="#{productChoice.quantity}">:</label>
	<input class="dropdown" type="number" id="quantity" name="quantity" min="1" max="200">
 </div>

 

<div class="productDetails">
<!--Shows Productname you have chosen-->
<h2 th:text="#{productChoice.name}"></h2>
<h2 id="productname"></h2> <br />
<label th:text="#{productChoice.description}"> </label>
<p id="description"> </p> <br />
<label th:text="#{productChoice.price}"></label>
<p id="price"> </p> <br />
<label th:text="#{productChoice.discount}"></label>
<p id="discount"> </p>
</div>

<figure class="pictures">
		<img class="image" id="productImg" />
</figure>
	
<div class=addToCart>
<button type="button" class="button" id="addToCart" onclick="addToCart()" th:text="#{productChoice.addCart}"></button>
</div>


</body>
</html>