<!DOCTYPE html> <!-- angelehnt an https://lerneprogrammieren.de/bootstrap/#:~:text=Bootstrap%20einbinden%20oder%20downloaden,online%20%C3%BCber%20einen%20CDN%20einbinden 
WAE siehe auch RegisterView-->
<html>
<head>
    <title th:text="#{userManagement.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/styles/dummy.css}" />
	<link rel="shortcut icon" href="#" />
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/scripts/Language.js}"></script>
	<script th:src="@{/scripts/UserDetail.js}"></script>
	<script th:src="@{/scripts/Orders.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-md">
   <a class="navbar-brand" th:href="@{/home}" th:text="#{login.firma}"></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
	<ul class="navbar-nav">
		<li class="nav-item">
		<a class="navbar-brand" href="cart">
			    <i class="bi bi-cart"></i>
			 </a>
	  	</li>
	  	  <li class="nav-item">
		<a class="nav-link" href="/userManagement" th:text="#{menu.profil}"></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/help" th:text="#{menu.help}"></a>
	  </li>	  
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" onclick="setLanguage('eng')" th:text="#{menu.english}"></a>
          <a class="dropdown-item" href="#" onclick="setLanguage('de')" th:text="#{menu.german}"></a>
        </div>
      </li>
	  <li class="nav-item">
		<a class="nav-link" href="/logout" th:text="#{menu.logout}"></a>
	  </li>
	</ul>
  </div>
</nav>

<!--SCL -->
<div class="userManagement">
<h1 th:text="#{userManagement.title}"></h1>
<form th:action="@{/userManagement}"  onsubmit="save();" method="PUT">

	<input type="hidden" id="userId" name="userId">
	

	<div class="userbox_lable">
	<label th:text="#{register.fname}"></label> <br>
	<label th:text="#{register.address}"></label> <br>
	<label th:text="#{register.city}"></label> <br>
	<label th:text="#{register.email}"></label> <br>
	<label th:text="#{register.username}"></label> <br>
	</div>
	
	<div class="userbox_input">
	<input type="text" id="fname" name="fname" th:attr="placeholder=#{register.fname}" required> <br>
	<input type="text" id="address" name="address" th:attr="placeholder=#{register.address}" required> <br>
	<input type="text" id="city" name="city" th:attr="placeholder=#{register.city}" maxlength="58" required> <br>
	<input type="text" id="email" name="email" th:attr="placeholder=#{register.email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required> <br>
	<input type="text" id="username" name="username" th:attr="placeholder=#{login.enterUsername}" minlength="8" required> <br>
	</div>
	
	<div class="userbox_lable">
	<label th:text="#{register.lname}"></label> <br>
	<label th:text="#{register.zip}"></label> </br>
	<label th:text="#{register.country}"></label> <br>
	</div>
		
	
	<div class="userbox_input">
	<input type="text" id="lname" name="lname" th:attr="placeholder=#{register.lname}" required> <br>
	<input id="zip" name="zip" th:attr="placeholder=#{register.zip}" type="number" max="9999" min="1000" required> <br>
	<input type="text" id="country" name="country" value="CH" required readonly> <br>
	</div> <br>
	
	<div class="userbox_h">
	<label th:text="#{register.role}"></label>
	<select name="role" id="role" disabled>
  		<option value="ADMIN" th:text="ADMIN"></option>
  		<option value="USER" th:text="USER"></option>
	</select>
	<button class="button" style=margin-left:5% type="submit" th:text="#{userDetail.save}"></button>
	</div> 
	
</form>
<form class ="pwForm" th:action="@{/userManagement}" onsubmit="changePw();" method="PUT">
	<label th:text="#{register.password}"></label>
	<input type="text" id="password" name="password" th:attr="placeholder=#{login.enterPassword}" minlength="8" required> 
	<button class="button" style=margin-left:5% type="submit" th:text="#{userDetail.changePassword}"></button>
</form >

<div class="UserMangement_button">
<h1 th:text="#{userManagement.order}"></h1 >
	<table class="editableUserOrderTable" id="orderUserTable">
		<thead>
			<tr>
				<th th:text="#{userManagement.orderNumber}"></th>
				<th th:text="#{userManagement.price}"></th>
			</tr>
		</thead>
	</table>
	<button type="button" class="button" onclick="showOrderDetail()" th:text="#{userManagement.showOrderDetail}"></button>
	


</div> 
</body>
</html>