/*-- WAE--*/
body {
  padding: 0;
  margin: 0;
  background: rgb(248, 248, 255);
}
/*-- Navigationsleiste --*/
.navbar {
  background:#555555;
}
.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
  
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover,
.dropdown-menu:hover{
  color: white;
  text-decoration: underline;
  
}
.navbar-collapse {
  justify-content: flex-end;
}
.dropdown-menu,
.dropdown-item,
.nav-link-dropdown-toggle,
.nav-item-dropdown{
	background: #555555;
	background-color: #555555;
	color: white;
	border:none;
}


select{
	margin: 5px;
}

.login{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	font-size:2vw;	
}

#divLoginButtons {
	left: 50%;
    margin-top: 60px;
}

.loginLables{
	font-size: 20pt;
	width: 100%;
    
}
.lablebox{
	 float: left;
	 width:50%;
	 left: 50%;
     padding: 20px;
     box-sizing: border-box;
     
}

.welcome{
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -55%);
  text-align: center;
  font-size:2vw;
}
h1 {
  color: #555555;
  font-size:6vw;
  margin-top:50px;
}


h2 {
  color: #555555;
  font-size: 4vw;
  display:inline-block;
}
p {
  color: #555555;
  font-size: 2vw;
  display: inline-block;
}

.logout, .successfulOrder {
  text-align: center;
  font-size:2vw;
}
.register{
	text-align: left;
	font-size:2vw;
}
.help, .adminView{
	text-align: left;
	margin-left: 5%;
	font-size:2vw;
}


.productChoice{
	float:top;
	margin:30px;
}

.cartDropdown{
	width: 100%;
}

.icon-chevron:before {
    content: "\1F5A4";
    font-size: 1em;
}

input, text{
	border-radius: 5px;
	color: #555555;
	margin: 0.5%;
}
.userManagement{
	float:left;
	margin-left: 5%;
	font-size:2vw;
}

.register ul{
	list-style-type: none;
	float:left;
	width:100%;
}
.register li{
	display: inline;
}
.fname,
.lname{
	width:50%;
}
.address,
.city{
	width:40%;
}
.zip,
.country{
	width:10%;
}
.email,
.username,
.password{
	width:33%;
}

.userbox_h{
	float: left;
     width: 100%;
     padding: 20px;
     box-sizing: border-box;
}

.userbox_input{
	float: left;
	width: 30%;
	padding: 20px;
    
    
}

.userbox_lable{
	float: left;
	width: 18%;
	padding: 20px;
   
    
}


.pwForm{
	float: left;
	width: 100%;
	padding: 20px;
 
}

.UserMangement_button{
	float: left;
	top: 80%;
	width: 80%;
}

.register #fname,
.userManagement #fname{
	width: 35%;
}
.register #lname,
.userManagement #lname{
	width: 35%;
}
.register #address,
.userManagement #address{
	
	width: 30%;
}
.register #zip,
.userManagement #zip{
	width: 7%;
}
.register #city,
.userManagement #city{
	
	width: 25%;
}
.register #country,
.userManagement #country{
	width: 5%;
}
.register #mail,
.userManagement #mail{
	width: 35%;
	
}
.register #password,
.userManagement #password{
	width: 40%;
}
.register #username,
.userManagement #username{
	width: 35%;
	
}

nav .ul{
	visibility: hidden;
}

img {
 	width: 55%;
  	height: auto
}

.images{
    height:30px;
    width:30px;
  	font-size: 18px;
  	
}

.pictures {
	position: absolute;   
	height: auto; 
	width: 50%;    
	left: 70%; 
	top:30%;
}

.productChoiceX{
	float: left;
     width: 70%;
     padding: 20px;
     
     
}

.productDetails{
	width: 70%;
	padding: 20px;
}

.addToCart{
	float: left;
     width: 25%;
     padding: 20px;
}


.dropdown #quantity,
.dropdown #products{
	border:thick;
}

.dropdown{
	background-color:#555555;
  	color:white;
  	padding: 3px;
  	font-size: 16px;
  	border: none;
  	cursor: pointer;
	float: left;
}

.button{
	background-color:#555555;; /* kind of black */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 9px;
}

.button #addToCart{
	float: right;
	}
	
.button #cart{
	float: right
}
	
.button #product{
	float: center;
	height: 100px; 
	width: 1000px;
	margin: 100px;
}
	
		
.button #register, .button #login{
	height: 50px;
    width: 100px;
}

.table{
	height: auto;
     width: 100%;
     padding: 20px;
}

/* WAE Phone view*/
@media only screen and (max-width: 768px) {
	h1{
		font-size:10vw;
	}
	h2{
		font-size:8vw;
	}
	p{
		font-size:5vw;
	}
	input, label{
		text-align: left;
		font-size: 5vw;
	}
	.login{
		width:100%;
	}
	
	.loginLables {
	    font-size: 18pt;
    	width: 65%;
	}

	.register label{
		display:block;
	}
	
	.register{
		width:100%;
	}
	
	.fname, 
	.lname,
	.address,
	.zip,
	.city,
	.country,
	.email,
	.username,
	.password{
		display:block;
		list-style-type: none;
		margin:0;
		padding:0;
	}
	.register ul{
		list-style-type: none;
	}
	.register #fname,
	.userManagement #fname{
		width:auto;
	}
	.register #lname,
	.userManagement #lname{
		width: auto;
	}
	.register #address,
	.userManagement #address{
		width: auto;
	}
	.register #zip,
	.userManagement #zip{
		width: auto;
	}
	.register #city,
	.userManagement #city{
		width: auto;
	}
	.register #country,
	.userManagement #country{
		width: auto;
	}
	.register #mail,
	.userManagement #mail{
		width: auto;
	}
	.register #password,
	.userManagement #password{
		width: auto;
	}
	.register #username,
	.userManagement #username{
		width: auto;
	}
	.admin button{
		margin:5%;
	}
	.hidden{
		visibility:collapse;
	}
	
	/* LUM */
	#divLoginButtons {
	    position: absolute;
	    top: 100%;
	    left: auto;
	    margin: auto;
	    width: 100%;
	}
}
.fname, 
.lname,
.address,
.zip,
.city,
.country,
.email,
.username,
.password{
	display:block;
	list-style-type: none;
	margin:0;
	padding:0;
}
.register ul{
	list-style-type: none;
}
.register #fname,
.userManagement #fname{
	width:auto;
}
.register #lname,
.userManagement #lname{
	width: auto;
}
.register #address,
.userManagement #address{
	width: auto;
}
.register #zip,
.userManagement #zip{
	width: auto;
}
.register #city,
.userManagement #city{
	width: auto;
}
.register #country,
.userManagement #country{
	width: auto;
}
.register #mail,
.userManagement #mail{
	width: auto;
}
.register #password,
.userManagement #password{
	width: auto;
}
.register #username,
.userManagement #username{
	width: auto;
}
.admin button{
	margin:5%;
}
.hidden{
	visibility:collapse;
}
.orderDetail label{
	display:block;
}
.productDetail label{
	display:block;
}
}

/* LUM */
.editableUserOrderTable {
	height: auto;
    width: 100%;
    padding: 20px;
}

.editableUserOrderTable tr.selected {
    background-color: brown;
    color: #FFF;	
} 

.editableTable tr.selected {
    background-color: brown;
    color: #FFF;
}

.idColumn {
	display: none;
}

#cartNoValue {
	margin-top: -370px;
    margin-left: 30px;
}