/*-- Eveline--*/
body {
  padding: 0;
  margin: 0;
  background: rgb(248, 248, 255);
}
/*-- Navigationsleiste --*/
.navbar {
  background:#555555;
}
.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
  
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover {
  color: white;
  text-decoration: underline;
  
}
.navbar-collapse {
  justify-content: flex-end;
}
.dropdown-menu,
.dropdown-item,
.nav-link-dropdown-toggle,
.nav-item-dropdown{
	background: #555555;
	background-color: #555555;
	color: white;
	border:none;
}
.welcome{
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -55%);
  text-align: center;
  font-size:2vw;
}
h1 {
  color: #555555;
  font-size:6vw;
}
.register, .logout, .successfulOrder{
  text-align: center;
  font-size:2vw;
}
.help, .adminView {
	text-align: left;
	margin-left: 5%;
	font-size:2vw;
}
input, text{
	border-radius: 5px;
	color: #555555;
	margin: 0.5%;
}
.register #fname{
	width: 45%;
}
.register #lname{
	width: 45%;
}
.register #address{
	width: 34%;
}
.register #zip{
	width: 9.5%;
}
.register #city{
	width: 34%;
}
.register #country{
	width: 9.5%;
}
.register #email{
	width: 45%;
}
.register #password{
	width: 45%;
}
nav .ul{
	visibility: hidden;
}

img {
 	width: 50%;
  	height: auto
}

.images{
    height:30px;
    width:30px;
  	font-size: 18px;
  	
}

.pictures {
  float: right;
}

.productChoice{
	
}
.dropdown #quantity,
.dropdown #products{
	border:thick;
}

.dropdown{
	background-color: rgb(248, 248, 255);
  	color: #555555;
  	padding: 3px;
  	font-size: 16px;
  	border: none;
  	cursor: pointer;
	float: left;
}

.button{
	background-color:#555555;; /* kind of black */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 9px;
}

.button #addToCart{
	float: botton;
	}
	
.button #product{
	float: center;
	height: 100px; 
	width: 1000px;
	margin: 0 50px;
	}

/* LUM */
.editableTable tr.selected {
    background-color: brown;
    color: #FFF;
}

.idColumn {
	display: none;
}