/*-- WAE--*/
body {
  padding: 0;
  margin: 0;
  background: rgb(248, 248, 255);
}
/*-- Navigationsleiste --*/
.navbar {
  background:#555555;
}
.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
  
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover,
.dropdown-menu:hover{
  color: white;
  text-decoration: underline;
  
}
.navbar-collapse {
  justify-content: flex-end;
}
.dropdown-menu,
.dropdown-item,
.nav-link-dropdown-toggle,
.nav-item-dropdown{
	background: #555555;
	background-color: #555555;
	color: white;
	border:none;
}


select{
	margin: 5px;
}

.login{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	font-size:2vw;
  	
	
}

#divLoginButtons {
	margin-top: 60px;
}

.loginLables{
	font-size: 20pt;
     
}
.lablebox{
	 float: left;
     padding: 20px;
     box-sizing: border-box;
}

.welcome{
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -55%);
  text-align: center;
  font-size:2vw;
}
h1 {
  color: #555555;
  font-size:6vw;
}


h2 {
  color: #555555;
  font-size: 5vw;
  text-indent: 0em;
  margin: 0;
	display:inline-block;
}
p {
  color: #555555;
  font-size: 2vw;
  text-indent: 0em;
  margin: 0;
  display: inline-block;
}

.register, .logout, .successfulOrder, .userManagement{
  text-align: center;
  font-size:2vw;
}
.help, .adminView {
	text-align: left;
	margin-left: 5%;
	font-size:2vw;
}


.productChoice{
	float:top;
	margin:30px;
}

.cartDropdown{
	width: 100%;
}



input, text{
	border-radius: 5px;
	color: #555555;
	margin: 0.5%;
}
.register #fname,
.userManagement #fname{
	width: 35%;
}
.register #lname,
.userManagement #lname{
	width: 35%;
}
.register #address,
.userManagement #address{
	width: 21%;
}
.register #zip,
.userManagement #zip{
	width: 9.5%;
}
.register #city,
.userManagement #city{
	width: 21%;
}
.register #country,
.userManagement #country{
	width: 9.5%;
}
.register #email,
.userManagement #email{
	width: 20%;
}
.register #password,
.userManagement #password{
	width: 40%;
}
.register #username,
.userManagement #username{
	width: 20%;
}

nav .ul{
	visibility: hidden;
}

img {
 	width: 55%;
  	height: auto
}

.images{
    height:30px;
    width:30px;
  	font-size: 18px;
  	
}

.pictures {
	position: absolute;   
	height: auto; 
	width: 50%;    
	left: 70%; 
	top:30%;
}

.productChoiceX{
	float: left;
     width: 70%;
     padding: 20px;
     
     
}

.productDetails{
		width: 70%;
		padding: 20px;
     	
}

.addToCart{
	float: left;
     width: 25%;
     padding: 20px;
}


.dropdown #quantity,
.dropdown #products{
	border:thick;
}

.dropdown{
	background-color:#555555;
  	color:white;
  	padding: 3px;
  	font-size: 16px;
  	border: none;
  	cursor: pointer;
	float: left;
}

.button{
	background-color:#555555;; /* kind of black */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 9px;
}

.button #addToCart{
	float: right;
	}
	
.button #cart{
	float: right
}
	
.button #product{
	float: center;
	height: 100px; 
	width: 1000px;
	margin: 100px;
	}
	
		
.button #register, .button #login{
	height: 50px;
    width: 100px;
}

.table{
	height: auto;
     width: 100%;
     padding: 20px;
}

/* WAE Phone view*/
@media only screen and (max-width: 768px) {
	input, label{
		text-align: left;
	}
.register #fname,
.userManagement #fname{
	width: 80%;
}
.register #lname,
.userManagement #lname{
	width: 80%;
}
.register #address,
.userManagement #address{
	width: 80%;
}
.register #zip,
.userManagement #zip{
	width: 15%;
}
.register #city,
.userManagement #city{
	width: 40%;
}
.register #country,
.userManagement #country{
	width: 15%;
}
.register #email,
.userManagement #email{
	width: 40%;
}
.register #password,
.userManagement #password{
	width: 80%;
}
.register #username,
.userManagement #username{
	width: 80%;
}
}

/* LUM */
.editableUserOrderTable {
	height: auto;
    width: 100%;
    padding: 20px;
}

.editableUserOrderTable tr.selected {
    background-color: brown;
    color: #FFF;	
} 

.editableTable tr.selected {
    background-color: brown;
    color: #FFF;
}

.idColumn {
	display: none;
}

#cartNoValue {
	margin-top: -370px;
    margin-left: 30px;
}